<a href="https://colab.research.google.com/github/abhinavpratheesht134-eng/ict_assignments/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# write a python function to find the max of three numbers

def max(a,b,c):
  if a>b and a>c:
    print(a,"is largest number")
  elif b>a and b>c:
    pront(b,"is largest number")
  else:
    print(c,"is largest number ")
a=int(input("enter first number "))
b=int(input("enter second number "))
c=int(input("enter third number "))
max(a,b,c)

enter first number 23
enter second number 34
enter third number 56
56 is largest number

In [9]:
# Write a python a function to sum of all the numbers in a list
def sum (numbers):
  total = 0
  for x in numbers:
    total += x
  return total
numbers=[18, 12, 30,10, 7]
print(sum(numbers))

77

In [13]:
#Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "Kelly",  "age":25,  "salary": 8000, "city": "New york"}
sample_dict = {"name": "kelly", "age":25, "salary":8000, "city": "New york"}
city_value = sample_dict.pop("city")
sample_dict["location"] = city_value
print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [24]:
#python program to insert a number to any position in a list
#(Get the number to be inserted and position from the user)
my_list = [10, 20, 40, 50]
print(f"Original List: {my_list}")
number_to_insert = int(input("Enter the number you want to insert: "))
position = int(input(f"Enter the position (0-{len(my_list)}) to insert the number: "))
my_list.insert(position, number_to_insert)
print(f"Updated List: {my_list}")

Original List: [10, 20, 40, 50]
Enter the number you want to insert: 4
Enter the position (0-4) to insert the number: 4
Updated List: [10, 20, 40, 50, 4]

In [18]:
#Write a Python program to change Bradâ€™s salary to 8500 in the following
#dictionary.
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500,},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [23]:
#Write a program to copy elements 44 and 55 from the following tuple into a
#new tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)

tuple1 = (11,22,33,44,55,66)
tuple2 = tuple1[3:5]
print(f"Original tuple: {tuple1}")
print(f"New tuple with elemnts 44 and 55: {tuple2}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elemnts 44 and 55: (44, 55)

In [21]:
# Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10,
60, 70, 50,83,567,50,81
tuple1 = (50,10,60,70,50,83,567,50,81)
count = tuple1.count(50)
print(count)

3